<footer class="footer">
    <div class="footer-container">
        <div class="footer-container__box">
            <div class="footer-logo">
                <img src="../../../assets/icons/jameson_signifier_cream.svg" alt="">
            </div>
            <div class="footer-container__flex">
                <div class="footer-container__menu">
                    <nav class="footer-nav">
                        <ul>
                            <li>
                                <a [routerLink]="[ '/home' ]">Головна</a>
                            </li>
                            <li>
                                <a [routerLink]="[ '/our-whiskeys' ]">Віскі</a>
                            </li>
                            <li>
                                <a [routerLink]="[ '/our-drinks' ]">Коктейлі</a>
                            </li>
                            <li>
                                <a [routerLink]="[ '/contact' ]">Контакти</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer-container__menu_sec">
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/jameson_ukraine/?hl=ru">Instagram</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/Jameson.Ukraine/">Facebook</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/jamesonwhiskey/">Twitter</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/user/jamesonwhiskey/">YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>