@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.navbar {
  position: fixed;
  top: 0;
  height: 12vh;
  width: 100%;
  z-index: 1000;
  padding: 0 40px 0;
  @include flexbox(flex-start, center, row, wrap);
  background-color: $mainColor;

  &-hamburger {
    height: 40px;
    width: 40px;
    display: none;
    cursor: $linkCursor;
    background-color: transparent;
    border: none;
    margin-left: 10px;

    .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 3px;
      background-color: $textColor;
      margin: 6px;
      transition: 0.4s;
    }

    &:focus {
      outline: none;
    }
  }

  .navbar-brand {
    display: block;
    padding-top: .2875rem;
    padding-bottom: .2875rem;
    font-size: 36px;
    position: absolute;
    color: $textColor;
    margin: 0 auto;
    text-align: center;
    cursor: $linkCursor;
  }
}

.img {
  width: 50px;
  height: 50px;
  cursor: $linkCursor;
}

.img:focus {
  outline: none;
}

.navbar-collapse {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 130;
  padding: 0 20px;
  background: $mainColor;
  transition: left 0.3s ease-out;

  &__nav {
    height: 100vh;
    @include flexbox(normal, normal, column, nowrap);

    li {
      padding-left: .5em;

      a {
        color: $textColor;
        font-weight: 600;
      }

      a:hover {
        border-bottom: $baseBorder;
        text-decoration: none;
        outline: none;
      }
    }
  }
}

.navbar-wrapper {
  display: block;
  margin-left: auto;

  &__nav {
    @include flexbox(normal, center, row, nowrap);
    font-weight: 600;
    line-height: 42px;

    .basket {
      display: inline-block;

      &-link {
        height: 100%;
        display: block;
        cursor: $linkCursor;

        img {
          width: 35px;
          height: 35px;
          display: table;
          margin: 15px auto -17px;
        }

        .basketPrice {
          color: $textColor;

          i {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    li {
      padding: 0 18px;

      a {
        font-size: 18px;
        line-height: 50px;
        color: $textColor;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        cursor: $linkCursor;
      }

      a.active {
        border-bottom: $baseBorder;
        border-color: salmon;
      }

      a::after {
        content: '';
        background-color: salmon;
        height: 2px;
        width: 0;
        position: absolute;
        bottom: -2px;
        left: 0;
      }

      a:hover::after {
        transition: width 300ms linear;
        width: 100%;
      }
    }
  }
}

.basketModal {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2000;
  background-color: #fff;
  transition: 0.5s right;

  .basketOpen {
    width: 100%;
    height: 100%;
    padding: 0 20px 20px;
    // overflow: scroll;
    // overflow-x: hidden;
    // overflow-y: auto;

    .basket-empty {
      height: 310px;

      &__head {
        position: relative;
        padding-top: 77px;

        .head--title {
          position: relative;
          font-size: 32px;
          font-weight: bold;
          line-height: 1.5;
          text-align: center;
          border: $baseBorder black;
          box-shadow: 0 0 10px 3px black;
          margin-bottom: 20px;
          color: crimson;
          text-shadow: 2px 1px 2px black;
        }

        .head--title::after {
          content: '';
          height: 1px;
          width: 80%;
          position: absolute;
          bottom: -40px;
          left: 60px;
          border-bottom: 1px solid gray;
        }

        .head--close {
          height: 70px;
          width: 70px;
          position: absolute;
          top: 35px;
          right: 10px;
          padding: 15px 10px 15px 20px;
          margin-top: -20px;
          margin-right: -15px;
          cursor: $linkCursor;

          .line1,
          .line2 {
            width: 30px;
            height: 3px;
            background-color: crimson;
            margin: 5px;
            border-radius: $mainBRadius;
          }

          .line1 {
            transform: rotate(-45deg) translate(-10px, 10px);
          }

          .line2 {
            transform: rotate(45deg) translate(4px, 4px);
          }
        }
      }

      &__box {
        padding: 30px 50px 20px;
        position: relative;
        margin-top: 25px;

        .box--text {
          padding: 20px 0;
          font-size: 24px;
          font-weight: 600;
          color: crimson;
          text-shadow: 2px 1px 2px black;
          text-align: center;
          margin-bottom: 20px;
        }

        a.box--link {
          display: block;
          text-align: center;
          font-size: 20px;
          font-weight: 500;
          color: crimson;
          text-shadow: 2px 1px 2px black;
        }
      }
    }

    .basket-content {
      height: 70%;

      &__head {
        padding-top: 25px;

        .head--title {
          font-size: 32px;
          font-weight: bold;
          line-height: 1.5;
          text-align: center;
          padding-bottom: 35px;
          margin-bottom: 20px;
          color: crimson;
          text-shadow: 2px 1px 2px black;
        }
      }

      &__close {
        height: 70px;
        width: 70px;
        position: absolute;
        top: 35px;
        right: 15px;
        padding: 15px 10px 15px 20px;
        z-index: 1;
        margin-top: -20px;
        cursor: $linkCursor;

        .line1,
        .line2 {
          width: 30px;
          height: 3px;
          background-color: crimson;
          margin: 5px;
          border-radius: $mainBRadius;
        }

        .line1 {
          transform: rotate(-45deg) translate(-10px, 10px);
        }

        .line2 {
          transform: rotate(45deg) translate(4px, 4px);
        }
      }

      &__order {
        margin-top: 15px;

        table {
          max-height: 100%;
          margin-bottom: 15px;
          color: crimson;

          tbody {
            tr {
              text-align: center;

              td {
                padding: 10px 5px;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
                line-height: 35px;
                font-size: 18px;
                font-weight: 700;
              }

              td.Del {
                line-height: 0;
                padding: 10px 0;
                color: #dc3545;
                font-weight: 700;
                cursor: $linkCursor;
              }

              .icon {
                height: 80px;
                width: 80px;
              }

              .counter {
                @include flexbox(space-around, center, row, nowrap);
                width: 135px;
                margin: 20px auto;

                .count {
                  width: 40px;
                  height: 40px;
                  padding: 13px;
                  border: none;
                  color: crimson;
                  font-weight: 600;
                  font-size: 22px;
                }

                .danger {
                  background-color: #dd2033;
                  color: #fefefe;
                }

                .danger:focus {
                  box-shadow: 0 0 0 4px rgb(248, 95, 78);
                }

                .button {
                  width: 37px;
                  font-weight: 700;
                }
              }
            }
          }
        }

        .orderCheck {
          h2.totalPrice {
            color: crimson;
            text-shadow: 2px 1px 2px black;
            font-size: 38px;
            font-weight: 700;
          }

          .order {
            display: block;
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
            margin: 15px auto;

            &:hover {
              background-color: #218838;
              border-color: #1e7e34;
            }
          }
        }
      }
    }
  }
}

.modalOrder {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: $bgDark;
  z-index: 2000;

  &-in {
    position: fixed;
    width: 60%;
    border-radius: 5px;
    background-color: $mainColor;
    left: 20%;
    transition: top 1s;

    .modal-header {
      h4 {
        font-weight: 600;
        font-size: 32px;
        color: $textColor;
        line-height: 1.2;
      }

      .close {
        width: 55px;
        height: 55px;
        padding: 10px;
        margin-right: -10px;
        margin-top: -5px;
        opacity: 1;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .close:focus {
        outline: none
      }
    }

    .modal-box {
      @include flexbox(space-around, normal, column, nowrap);
      padding: 10px;

      &__block {
        height: 40px;
        @include flexbox(space-between, center, row, nowrap);
        margin-bottom: 10px;

        label {
          font-size: 22px;
          padding-left: 10px;
          color: $textColor;
        }

        input,
        textarea {
          width: 50%;
          height: 100%;
          padding-left: 10px;
          margin-right: 10px;
          color: $textColor;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid salmon;
        }

        textarea {
          padding-top: 5px;
          resize: none;
        }

        .block--products {
          width: 50%;
          height: 100%;
          @include flexbox(normal, normal, column, wrap);
          padding: 10px 5px;
          color: $textColor;

          span {
            padding: 5px 0;
          }
        }

        .block--totalPrice {
          width: 50%;
          height: 100%;
          color: $textColor;
          padding: 10px 5px;
          text-align: center;

          .totalPrice {
            font-weight: 600;
            font-size: 22px;
          }
        }
      }

      .bigBlock {
        height: 60px;
      }

      .blockProduct,
      .blockPrice {
        height: auto;
      }
    }

    hr {
      margin: 10px 0;
      background-color: #dee2e6;
    }

    .modal-buttons {
      @include flexbox(flex-end, center, row, nowrap);
      padding: 10px;

      .btn-close {
        width: 75px;
        height: 45px;
        background-color: rgb(109, 0, 0);
        color: #ffffff;
        border: 1px solid darkred;
        border-radius: 5px;
        margin: 5px;
        padding: 0;
      }

      .btn-close:focus {
        outline: none;
      }

      .btn-submit {
        @extend .btn-close;
        width: 115px;
        background-color: salmon;
        border: 1px solid rgb(252, 115, 100);
      }
    }
  }
}

section.modalOut {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2000;

  .modal-buttons {
    width: 30%;
    height: 70px;
    position: fixed;
    background-color: $textColor;
    left: 35%;
    padding: 10px;
    border-radius: $mainBRadius;
    transition: top 0.7s;
    @include flexbox(space-around, center, row, nowrap);

    .btn-out {
      height: 40px;
      width: 130px;
      border-radius: $mainBRadius;
      color: $textColor;
      background-color: #dc3545;
      border-color: #dc3545;
      outline: none;
    }

    .btn-out:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }

    .btn-close {
      @extend .btn-out;
      background-color: gray;
      border-color: gray;
    }

    .btn-close:hover {
      background-color: dimgray;
      border-color: dimgray;
    }
  }
}

.modalI-all {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 50;
}

.modalI {
  position: fixed;
  width: 60%;
  background-color: $mainColor;
  left: 20%;
  transition: top 1s;

  &-close {
    height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
    padding: 10px;
    cursor: $linkCursor;

    .line1,
    .line2 {
      width: 30px;
      height: 5px;
      background-color: $textColor;
      margin: 5px 0;
      border-radius: $mainBRadius;
    }

    .line1 {
      transform: rotate(-45deg) translate(-6px, 5px);
    }

    .line2 {
      transform: rotate(45deg) translate(-2px, -1px);
    }

  }

  &-head {
    height: 70px;
    margin-top: 15px;

    &__title {
      text-align: center;
      color: $textColor;
      line-height: 60px;
      font-size: 40px;
      font-weight: 600;
    }
  }

  &-body {
    padding: 10px 20px 0;

    &__box {
      height: auto;
      @include flexbox(normal, normal, column, nowrap);

      .box-input {
        @include flexbox(space-between, center, row, nowrap);
        padding: 0 10px;
        height: 50px;
        margin-bottom: 10px;

        label {
          color: $textColor;
          font-size: 22px;
        }

        input {
          width: 250px;
          height: 30px;
          background-color: rgba(0, 64, 39, 0);
          border: none;
          color: $textColor;
          padding-left: 10px;
          border-bottom: 1px solid salmon;
        }
      }
    }
  }

  &-button {
    height: 70px;
    padding: 10px 20px;

    .button__inner {
      width: 40%;
      height: 100%;
      text-align: center;
      line-height: 50px;
      margin: 0 auto;
      color: $textColor;
      background-color: rgb(250, 128, 114);
      font-size: 22px;
      border: 1px solid salmon;
    }

    .button__inner:hover {
      cursor: $linkCursor;
      background-color: rgb(248, 95, 78);
    }

    .modalI-link {
      height: 20px;
      color: $textColor;
      float: right;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .modalI-link:hover {
      cursor: $linkCursor;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    height: 10vh;
    padding: 0 20px;

    .navbar-brand {
      left: 0;
      right: 0;
      width: 50%;
      font-size: 54px;
    }
  }

  .navbar-hamburger {
    display: block;
  }

  .navbar-wrapper {
    display: none;
  }

  .navbar-collapse__nav {
    li:first-child {
      margin-top: 90px;
    }

    li a {
      font-size: 54px;
      line-height: 65px;
    }
  }

  section.modalOut {
    .modal-buttons {
      width: 50%;
      height: 120px;
      left: 25%;

      .btn-out,
      .btn-close {
        height: 60px;
        width: 140px;
        font-size: 24px;
      }
    }
  }
  
  .modalI {
    width: 70%;
    left: 15%;
    border-radius: 10px;
  
    &-close {
      margin: 10px 10px 0 0;
    }
  
    &-head {
      &__title {
        font-size: 42px;
      }
    }
  
    &-body {
      padding: 15px 20px 0;
  
      &__box {
        .box-input {
          height: 60px;
  
          label {
            font-size: 24px;
          }
  
          input {
            width: 270px;
            height: 35px;
          }
        }
      }
    }
  
    &-button {
      height: 70px;
      padding: 10px 20px;
  
      .button__inner {
        width: 45%;
        line-height: 48px;
        font-size: 24px;
      }
  
      .modalI-link {
        font-size: 17px;
        margin: 5px 0;
      }
    }
  }

  .basketModal {
    width: 70%;

    .basketOpen {
      .basket-empty {
        height: auto;

        &__head {
          padding-top: 85px;

          .head--title {
            height: 65px;
            font-size: 40px;
            line-height: 56px;
            margin-bottom: 20px;
          }

          .head--title::after {  
            left: 10%;
          }

          .head--close {
            .line1,
            .line2 {
              height: 4px;
            }

            .line2 {
              transform: rotate(45deg) translate(4px, 3px);
            }
          }
        }

        &__box {
          margin-top: 45px;

          .box--text {
            padding: 20px 0;
            font-size: 32px;
          }

          a.box--link {
            font-size: 24px;
          }
        }
      }

      .basket-content {
        height: auto;

        &__head {
          padding-top: 30px;

          .head--title {
            font-size: 44px;
            padding-bottom: 30px;
          }
        }

        &__close {
          top: 40px;

          .line1,
          .line2 {
            height: 4px;
          }

          .line2 {
            transform: rotate(45deg) translate(4px, 3px);
          }
        }

        &__order {
          table {
            tbody {
              tr {
                td {
                  line-height: 30px;
                }

                .counter {
                  .count {
                    font-size: 20px;
                  }
                }
              }
            }
          }

          .orderCheck {
            h2.totalPrice {
              font-size: 40px;
            }

            .order {
              width: 40%;
              height: 55px;
              font-size: 24px;
              padding: 0;
              margin-top: 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    padding: 0 10px;

    .navbar-brand {
      font-size: 40px;
    }
  }

  .navbar-collapse__nav {
    li:first-child {
      margin-top: 80px;
    }

    li a {
      font-size: 44px;
      line-height: 52px;
    }
  }

  section.modalOut {
    .modal-buttons {
      width: 40%;
      height: 120px;
      position: fixed;
      background-color: $textColor;
      left: 30%;
      padding: 5px;
      border-radius: $mainBRadius;
      transition: top 0.6s;
      @include flexbox(space-around, center, column-reverse, nowrap);

      .btn-out,
      .btn-close {
        height: 50px;
        width: 100%;
        margin: 5px;
        font-size: 18px;
      }
    }
  }

  .modalI {
    width: 95%;
    left: 2.5%;

    &-close {
      height: 50px;
      padding: 10px;

        .line1,
        .line2 {
          width: 20px;
          height: 3px;
          margin: 5px;
        }

        .line1 {
          transform: rotate(-45deg) translate(-6px, 6px);
        }

        .line2 {
          transform: rotate(45deg) translate(0px, 0px);
        }
    }

    &-head {
      height: 60px;

      &__title {
        line-height: 50px;
        font-size: 32px;
      }
    }

    &-body {
      padding: 10px 15px 0;

      &__box {
        .box-input {
          padding: 0;
          height: 40px;

          label {
            font-size: 18px;
          }

          input {
            width: 180px;
          }
        }
      }
    }

    &-button {
      .button__inner {
        width: 45%;
        font-size: 20px;
      }
    }
  }

  .modalOrder {
    &-in {
      width: 100%;
      left: 0;

      .modal-header {
        padding: 16px 10px;

        h4 {
          font-size: 32px;
        }

        .close {
          width: 50px;
          height: 50px;
        }
      }

      .modal-box {
        padding: 10px 5px;

        &__block {
          margin-bottom: 5px;

          label {
            font-size: 18px;
          }

          input,
          textarea {
            font-size: 15px;
          }

          .block--products {
            padding: 5px;
          }

          .block--totalPrice {
            height: 35px;
            padding: 5px;

            .totalPrice {
              font-size: 20px;
            }
          }
        }

        .bigBlock {
          height: 60px;
        }
      }
    }

    hr{
      margin: 5px 0;
    }
  }

  .basketModal {
    width: 100%;

    .basketOpen {
      .basket-empty {
        &__head {
          .head--title {
            height: 60px;
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 0;
          }

          .head--title::after {
            width: 100%;
            left: 0;
          }
        }

        &__box {
          margin-top: 30px;
          padding: 25px 0 0;

          .box--text {
            font-size: 26px;
            margin-bottom: 10px;
          }

          a.box--link {
            font-size: 20px;
          }
        }
      }

      .basket-content {
        &__head {
          height: 70px;
          padding-top: 25px;

          .head--title {
            font-size: 32px;
            padding-bottom: 30px;
          }
        }

        &__close {
          top: 20px;
          right: 2px;
        }

        &__order {
          margin-top: 25px;

          table {
            display: flex;
            overflow-y: scroll;
            position: relative;

            tbody {
              display: flex;

              tr {
                border: 1px solid #dee2e6;
                display: flex;
                flex-flow: column;

                td {
                  width: 220px;
                  height: 100px;
                  line-height: 75px;
                  text-align: center;
                }

                td.Del {
                  line-height: 75px;
                  padding: 10px 5px;
                }

                .counter {
                  .count {
                    padding: 15px;
                    font-size: 20px;
                  }
                }
              }
            }
          }

          .orderCheck {
            h2.totalPrice {
              font-size: 32px;
            }

            .order {
              width: 100%;
              height: 60px;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
