<header>
    <nav class="navbar">
        <button class="navbar-hamburger" (click)="getCollapse()">
            <div class="bar1" [style.transform]="transformB1"></div>
            <div class="bar2" [style.opacity]="opacity"></div>
            <div class="bar3" [style.transform]="transformB3"></div>
        </button>

        <a class="navbar-brand" [routerLink]="[ '/home' ]">
            <span>JAMESON</span>
        </a>

        <div class="navbar-wrapper">
            <ul class="navbar-wrapper__nav">
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/home' ]">Головна</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/our-whiskeys' ]">Віскі</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/our-drinks' ]">Коктейлі</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/contact' ]">Контакти</a>
                </li>
                <li *ngIf="!onLine">
                    <a (click)="openModal()">Увійти</a>
                </li>
                <li *ngIf="onLine">
                    <img class="img" src="../../../assets/icons/avatar.svg" [routerLink]="[ '/profile' ]" alt="avatar">
                </li>
                <li class="basket" (click)="goToBasket()">
                    <div class="basket-link">
                        <img src="../../../assets/icons/icon-cart.svg" alt="shopping-cart">
                        <span class="basketPrice">
                            <i>{{ totalPrice }} грн</i>
                        </span>
                    </div>
                </li>
                <li *ngIf="onLine">
                    <a (click)="openOutModal()">Вийти</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="navbar-collapse" [style.left]="left">
        <ul class="navbar-collapse__nav">
            <li>
                <a (click)="modalDel()" [routerLink]="[ '/home' ]">Головна</a>
            </li>
            <li>
                <a (click)="modalDel()" [routerLink]="[ '/our-whiskeys' ]">Віскі</a>
            </li>
            <li>
                <a (click)="modalDel()" [routerLink]="[ '/our-drinks' ]">Коктейлі</a>
            </li>
            <li>
                <a (click)="modalDel()" [routerLink]="[ '/contact' ]">Контакти</a>
            </li>
            <li *ngIf="!onLine">
                <a (click)="openModal()">Увійти</a>
            </li>
            <li>
                <a (click)="modalDel()" (click)="goToBasket()">Кошик</a>
            </li>
            <li *ngIf="onLine">
                <a (click)="modalDel()" [routerLink]="[ '/profile' ]">Профіль</a>
            </li>
            <li *ngIf="onLine">
                <a (click)="openOutModal()">Вийти</a>
            </li>
        </ul>
    </div>

    <section class="basketModal" [style.right]="right">
        <div class="basketOpen">
            <div class="basket-empty" *ngIf="!checkBasket">
                <div class="basket-empty__head">
                    <h2 class="head--title">Your Cart</h2>
                    <div class="head--close" (click)="modalDel()">
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>
                </div>
                <div class="basket-empty__box">
                    <p class="box--text">Your Cart is Empty!</p>
                    <a class="box--link" (click)="modalDel()" [routerLink]="[ '/our-whiskeys' ]">Please place an
                        order</a>
                </div>
            </div>
            <div class="basket-content" *ngIf="checkBasket">
                <div class="basket-content__close" (click)="modalDel()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>
                <div class="basket-content__head">
                    <h2 class="head--title">Your Cart</h2>
                </div>
                <div class="basket-content__order">
                    <table>
                        <tbody>
                            <tr *ngFor="let prod of basket; let i=index">

                                <td scope="row"><img class="icon" [src]="prod.imageTitle"></td>
                                <td scope="row">{{ prod.name }}</td>
                                <td scope="row">{{ prod.price * prod.count }} грн</td>
                                <td scope="row">
                                    <div class="counter">
                                        <button class="btn danger button" (click)="productCount(prod, false)">-</button>
                                        <input type="text" class="count" max-lenght="1" [value]="prod.count" readonly>
                                        <button class="btn btn-success button"
                                            (click)="productCount(prod, true)">+</button>
                                    </div>
                                </td>
                                <td scope="row" class="Del">
                                    <span class="remove" (click)="removeProduct(prod)">X</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="orderCheck">
                        <h2 class="totalPrice">Загалом: {{ totalPrice }} грн</h2>
                        <button class="btn order" (click)="openOrderModal()" (click)="closeBasket()">Оплатити</button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="modalOrder" [style.backgroundColor]="bgOrder" [style.top]="topLgOrder">
        <div class="modalOrder-in" [style.top]="topOrder">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Оплата</h4>
                <button class="close pull-right" aria-label="Close" (click)="modalDel()">
                    <img src="assets/icons/times-solid.svg" class="img">
                </button>
            </div>
            <div class="modal-box">
                <div class="modal-box__block">
                    <label for="userName">Ваше ім'я:</label>
                    <input type="text" [(ngModel)]="userName" name="userName" id="userName"
                        [style.borderColor]="borderColorName" placeholder="name here..">
                </div>

                <div class="modal-box__block">
                    <label for="userPhone">Телефон:</label>
                    <input type="text" [(ngModel)]="userPhone" name="userPhone" id="userPhone"
                        [style.borderColor]="borderColorPhone" placeholder="phone here..">
                </div>

                <div class="modal-box__block">
                    <label for="userAdress">Адреса:</label>
                    <input type="text" [(ngModel)]="userAdress" name="userAdress"
                        [style.borderColor]="borderColorAdress" id="userAdress" placeholder="adress here..">
                </div>

                <div class="modal-box__block bigBlock">
                    <label for="userComment">Коментарі:</label>
                    <textarea type="text" [(ngModel)]="userComment" name="userComment" id="userComment"
                        placeholder="comments here.."></textarea>
                </div>

                <div class="modal-box__block bigBlock blockProduct">
                    <label>Ваші товари:</label>
                    <div class="block--products">
                        <span class="product" *ngFor="let prod of basket">{{prod.name | uppercase}} : {{prod.count}}
                            шт.</span>
                    </div>
                </div>

                <div class="modal-box__block bigBlock blockPrice">
                    <label>Загальна ціна:</label>
                    <div class="block--totalPrice">
                        <span class="totalPrice">{{ totalPrice }} грн</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal-buttons">
                <button class="btn-close btn" (click)="modalDel()">Закрити</button>
                <button class="btn-submit btn" (click)="addOrder()">Оплатити</button>
            </div>
        </div>
    </section>

    <section class="modalI-all" [style.background]="bg" [style.top]="topLg">
        <div class="modalI" [style.top]="top">
            <div class="modalI-close">
                <div class="modalI-close__but" (click)="modalDel()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>
            </div>

            <div class="modalI-head">
                <div class="modalI-head__title" *ngIf="checkLog">Log IN</div>
                <div class="modalI-head__title" *ngIf="!checkLog"> Create your account! </div>
            </div>

            <div class="modalI-body">
                <div class="modalI-body__box">
                    <div class="box-input">
                        <label for="email">Email:</label>
                        <input type="email" [(ngModel)]="userEmail" name="userEmail" id="email"
                            [style.borderColor]="borderColorLog" placeholder="Please enter your email">
                    </div>

                    <div class="box-input">
                        <label for="password">Password:</label>
                        <input type="password" [(ngModel)]="userPass" name="userPass" id="password"
                            [style.borderColor]="borderColorPass" placeholder="Please enter your pass">
                    </div>

                    <div class="box-input" *ngIf="!checkLog">
                        <label for="name">First name:</label>
                        <input type="text" [(ngModel)]="userName" name="userName" id="name"
                            [style.borderColor]="borderColorName" placeholder="Please enter your name">
                    </div>

                    <div class="box-input" *ngIf="!checkLog">
                        <label for="phone">Phone:</label>
                        <input type="text" [(ngModel)]="userPhone" name="userPhone" id="phone"
                            [style.borderColor]="borderColorPhone" placeholder="Please enter your phone">
                    </div>
                </div>
            </div>

            <div class="modalI-button">
                <div class="button__inner" *ngIf="checkLog" (click)="signIn()">Sign IN</div>
                <div class="button__inner" *ngIf="!checkLog" (click)="signUp()">Sign UP</div>
                <a class="modalI-link" (click)="changeLog()"> {{ sign }} </a>
            </div>
        </div>
    </section>

    <section class="modalOut" [style.top]="topLgOut" [style.backgroundColor]="bgOut">
        <div class="modal-buttons mr-1" [style.top]="topOut">
            <button class="btn btn-close" (click)="closeOutModal()">Dismiss</button>
            <button class="btn btn-out" (click)="signOut()">Sign Out</button>
        </div>
    </section>
</header>