<header>
    <nav class="navbar">
        <button class="navbar-hamburger" (click)="getCollapse()">
            <div class="bar1" [style.transform]="transformB1"></div>
            <div class="bar2" [style.opacity]="opacity"></div>
            <div class="bar3" [style.transform]="transformB3"></div>
        </button>
        <a class="navbar-brand" [routerLink]="[ '/home' ]">
            <span>JAMESON</span>
        </a>
        <div class="navbar-wrapper">
            <ul class="navbar-wrapper__nav">
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/home' ]">Головна</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/our-whiskeys' ]">Віскі</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/our-drinks' ]">Коктейлі</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="[ '/contact' ]">Контакти</a>
                </li>
                <li *ngIf="!onLine">
                    <a (click)="openModal()">Увійти</a>
                </li>
                <li *ngIf="onLine">
                    <img class="img" src="../../../assets/images/avatar.svg" [routerLink]="[ '/profile' ]" alt="">
                </li>
                <li *ngIf="onLine">
                    <a (click)="signOut()">Вийти</a>
                </li>
            </ul>
        </div>
        <div class="admin-block">
            <a [routerLink]="[ '/admin' ]">Admin</a>
          </div>
    </nav>

    <div class="navbar-collapse" [style.left]="left">
        <ul class="navbar-collapse__nav">
            <li>
                <a [routerLink]="[ '/home' ]">Головна</a>
            </li>
            <li>
                <a [routerLink]="[ '/our-whiskeys' ]">Віскі</a>
            </li>
            <li>
                <a [routerLink]="[ '/our-drinks' ]">Коктейлі</a>
            </li>
            <li>
                <a [routerLink]="[ '/contact' ]">Контакти</a>
            </li>
            <li *ngIf="!onLine">
                <a (click)="openModal()">Увійти</a>
            </li>
            <li *ngIf="onLine">
                <a [routerLink]="[ '/profile' ]">Профіль</a>
            </li>
        </ul>
    </div>

    <section class="modalI-all" [style.background]="bg" [style.top]="topLg">
        <div class="modalI" [style.top]="top">
            <div class="modalI-close">
                <div class="modalI-close__but" (click)="modalDel()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>
            </div>
            <div class="modalI-head">
                <div class="modalI-head__title" *ngIf="checkLog">Log IN</div>
                <div class="modalI-head__title" *ngIf="!checkLog"> Create your account! </div>
            </div>
            <div class="modalI-body">
                <div class="modalI-body__box">
                    <div class="box-input">
                        <label for="login">Login:</label>
                        <input type="email" [(ngModel)]="userEmail" name="userEmail" id="login" placeholder="Please enter your email">
                    </div>
                    <div class="box-input">
                        <label for="password">Password:</label>
                        <input type="password" [(ngModel)]="userPass" name="userPass" id="password" placeholder="Please enter your pass">
                    </div>
                    <div class="box-input" *ngIf="!checkLog">
                        <label for="name">User name:</label>
                        <input type="text" [(ngModel)]="userName" name="userName" id="name" placeholder="Please enter your name">
                    </div>
                    <div class="box-input" *ngIf="!checkLog">
                        <label for="phone">Phone:</label>
                        <input type="text" [(ngModel)]="userPhone" name="userPhone"  id="phone" placeholder="Please enter your phone">
                    </div>
                </div>
            </div>
            <div class="modalI-button">
                <div class="button__inner" *ngIf="checkLog" (click)="signIn()">Sign IN</div>
                <div class="button__inner" *ngIf="!checkLog" (click)="signUp()">Sign UP</div>
                <a class="modalI-link" (click)="changeLog()"> {{ sign }} </a>
            </div>
        </div>
    </section>
</header>