<section class="contacts">
    <div class="contacts-container">
        <div class="contacts-title">
            <h2>Сайт розробив:</h2>
        </div>
        <div class="contacts-admin">
            <div class="contacts-admin__image"></div>
            <div class="contacts-admin__info">
                <p>Юрій Бойко</p>
                <div class="info--email">boyko.yuriy16@gmail.com</div>
                <ul class="contacts-links">
                    <li class="contacts-links__item ">
                        <a target="_blank" class="git" href="https://github.com/Yura935"></a>
                    </li>
                    <li class="contacts-links__item ">
                        <a target="_blank" class="facebook"
                            href="https://www.facebook.com/profile.php?id=100001019510609"></a>
                    </li>
                    <li class="contacts-links__item ">
                        <a target="_blank" class="instagram" href="https://www.instagram.com/_yours_yura_/"></a>
                    </li>
                    <li class="contacts-links__item ">
                        <a target="_blank" class="linkedIn"
                            href="https://www.linkedin.com/in/yurii-boiko-47a1111a9/"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contacts-confidentiality">
            <h2>Політика конфіденційності</h2>
            <div class="contacts-confidentiality__item">
                <div class="item--left">Нижче наведені основні положення Декларації про конфіденційність
                    Jameson® і Pernod Ricard, афілійованих осіб у складі сімейства брендів Pernod Ricard (далі «Ми» або
                    «Нас»). Для ознайомлення з усіма деталями того, як ми обробляємо інформацію, яку ми у вас збираємо,
                    прочитайте повний текст Декларації про конфіденційність. Ми будемо збирати інформацію про вас
                    («Особиста
                    інформація»), що може використовуватися для ідентифікації, зв'язку та
                    визначення вашого місця перебування. У багатьох випадках ми збираємо інформацію безпосередньо від
                    вас.
                </div>
                <div class="item--image first"></div>
            </div>

            <div class="contacts-confidentiality__item reverse">
                <div class="item--right">
                    Ми використовуємо вашу Особисту інформацію для виконання ваших запитів на продукцію, послуги й
                    інформацію, доставки маркетингових повідомлень, надсилання персоналізованого змісту, зокрема й
                    персоналізованої реклами, проведення промоакцій і розіграшів, а також для інших поточних ділових
                    цілей,
                    таких як створення резервних копій і забезпечення нормативно-правової відповідності. Для отримання
                    додаткової інформації про те, як ми використовуємо вашу Особисту інформацію, див. розділ «Як ми
                    використовуємо вашу Особисту інформацію?».
                </div>
                <div class="item--image second"></div>
            </div>
        </div>
        <div class="contacts-collapse"></div>
    </div>
</section>