<section class="whiskey-details">
    <div class="whiskeys-slider">
        <div class="whiskeys-slider_id" [style.backgroundImage]="'url('+view?.imageTitle+')'"></div>
    </div>
    <div class="container-fluid">
        <ul class="breadcrumb smallSlideLeft">
            <li>
                <a routerLink="/home">
                    <span>Головна</span> >>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/our-whiskeys/']">
                    <span>Віскі</span> >>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/our-whiskeys/'+view?.urlName ]">
                    <span>{{ view?.name | titlecase }}</span>
                </a>
            </li>
        </ul>

        <div class="whiskeys-title">
            <h1 class="whiskeys-title-head">{{ view?.name }}</h1>
        </div>


        <div class="whiskey-info">
            <div class="whiskey-info__title">
                <h2>{{ view?.descriptionTitle}}</h2>
            </div>
            <div class="whiskey-info__text">
                <p>{{ view?.description }}</p>
            </div>
            <div class="whiskey-info__img">
                <div class="img" [style.backgroundImage]="'url('+view?.imageBlog+')'"></div>
            </div>
        </div>

        <div class="productOrder">
            <div class="productOrder-counter">
                <p class="productOrder-counter__weight">Об'єм: {{view?.weight}}</p>
                <p class="productOrder-counter__title">Кількість: </p>

                <div class="productOrder-counter__box">
                    <span class="productCount lessProduct" (click)="productCount(view,false)"></span>
                    <input class="counter" type="text" maxlength="3" [(ngModel)]="count" name="count"
                        (input)="changeCount(view)" [value]="view?.count">
                    <span class="productCount moreProduct" (click)="productCount(view,true)"></span>
                </div>
            </div>
            <div class="productOrder-price">
                <div class="productOrder-price__inner">
                    <p>Загалом:</p>
                    <span class="productPrice">{{view?.price * view?.count}}</span><i>грн</i>
                </div>
            </div>

            <div class="productOrder-button">
                <div class="button-order" (click)="addToBasket(view)">Замовити</div>
            </div>
        </div>

        <div class="whiskey-special">
            <div class="whiskey-special__img">
                <img src="../../../assets/images/aroma.png" alt="">
            </div>

            <div class="whiskey-special__text">
                <h3>Аромат</h3>
                <p>{{ view?.aroma }}</p>
            </div>
        </div>

        <div class="whiskey-special">
            <div class="whiskey-special__img">
                <img src="../../../assets/images/taste.png" alt="">
            </div>

            <div class="whiskey-special__text">
                <h3>Смак</h3>
                <p>{{ view?.taste }}</p>
            </div>
        </div>

        <div class="whiskey-special">
            <div class="whiskey-special__img">
                <img src="../../../assets/images/aftertaste.png" alt="">
            </div>

            <div class="whiskey-special__text">
                <h3>Післясмак</h3>
                <p>{{ view?.afterTaste }}</p>
            </div>
        </div>

        <section class="whiskey-video">
            <div class="video-wrapper">
                <youtube-player [videoId]="videoUrl" [height]="videoHeight" [width]="videoWidth"
                    [style.left]='videoLeft'></youtube-player>
            </div>
        </section>
    </div>
</section>