<section class="history">

    <div class="history-image">
        <div class="history-image__inner"></div>
    </div>

    <div class="container">
        <div class="history-title">
            <h1 class="history-title-head">Історія віскі JAMESON</h1>
        </div>

        <div class="history-info">
            <div class="history-info__title">
                <h2>У 1780 році Джон Джемесон розробив нашу технологію приготування віскі, і ми пишаємося тим, що
                    невідступно дотримуємося її і понині.</h2>
            </div>

            <div class="history-info__text">
                <p>Як можна здогадатися, виробництво купажованого ірландського віскі, яким насолоджуються вже більше
                    двох століть, потребує багатьох навичок і зусиль. Одначе не хвилюйтеся, ми «дистилювали» понад 200
                    років відваги, майстерності та колективного вдосконалення смаку в одну коротеньку розповідь. Отже,
                    секрет нашої фірмової м'якості — це наша технологія та наша команда.</p>
            </div>
        </div>

        <div class="blog">
            <div class="blog-info">
                <div class="blog-info__img img1"></div>
                <div class="blog-info__tag">
                    <span>SINE METU</span>
                </div>
            </div>

            <div class="blog-content">
                <div class="blog-content-title">
                    <h2>Наш сімейний девіз, Sine Metu</h2>
                </div>

                <div class="blog-content-text">
                    <p>Завдяки вірності цьому сімейному девізу наше виробництво віскі пережило дві світові війни,
                        громадянську війну в Ірландії та навіть "сухий закон" у США. Цей девіз також допомагав нам
                        знайомитися з новими людьми, відкривати нові можливості та нові способи виробництва віскі.
                        Сімейний девіз Джемесонів такий важливий для нас, що ми з гордістю вказуємо його на кожній
                        пляшці. Крім того, це чудова запорука того, що ми ніколи не відступимо від цих слів.
                </div>
            </div>
        </div>

        <div class="blog">
            <div class="blog-info">
                <div class="blog-info__img img2"></div>
                <div class="blog-info__tag">
                    <span>НАША ТЕХНОЛОГІЯ</span>
                </div>
            </div>

            <div class="blog-content">
                <div class="blog-content-title">
                    <h2>Вирощується місцевими виробниками</h2>
                </div>

                <div class="blog-content-text">
                    <p>Jameson Irish Whiskey виготовляється шляхом поєднання насиченого віскі, дистильованого в
                        перегінному кубі, що виробляється із солодженого та несолодженного ячменю, з найкращим зерновим
                        віскі, при цьому обидві складові проходять потрійну дистиляцію, здобуваючи свою м'якість.</p>
                </div>

                <div class="blog-content-text" *ngIf="check">
                    <p>Весь наш ячмінь росте на відстані щонайбільше 100 миль від Мідлтона, а воду ми беремо з річки
                        Дангорні, що протікає прямо через нашу віскікурню. І це символічно, бо слово «віскі» походить
                        від ірландського «uisce beatha», що означає «жива вода». І хоча ячмінь росте в нас по сусідству,
                        вода тече буквально за вікном, але кукурудза є сонцелюбивою культурою. Знаменитий клімат
                        Ірландії ніяк не назвеш тропічним, тому ми користуємося послугами фермера з півдня Франції, що
                        повністю забезпечує нас натуральною кукурудзою, без жодних генетичних модифікацій.</p>
                </div>

                <div class="blog-details">
                    <a (click)="forDetails()" id="details">Дізнатися більше</a>
                </div>
            </div>
        </div>

        <div class="blog">
            <div class="blog-info">
                <div class="blog-info__img img3"></div>
                <div class="blog-info__tag">
                    <span>ІНГРЕДІЄНТИ</span>
                </div>
            </div>

            <div class="blog-content">
                <div class="blog-content-title">
                    <h2>Бог любить трійцю</h2>
                </div>

                <div class="blog-content-text">
                    <p>Забудьте про щасливу сімку, м'якість нашого віскі походить від нашого фірмового процесу потрійної
                        дистиляції. На цьому методі зробив собі ім'я наш засновник Джон Джемесон, і саме ця технологія є
                        тією спадщиною, яку наш майстер дистиляції Брайан Нейшн зберігає донині.</p>
                </div>

                <div class="blog-content-text" *ngIf="check1">
                    <p>Певно, допитливий читач запитає, чи не було б краще використовувати аж чотирикратну дистиляцію.
                        Що ж, спочатку ми трохи поекспериментували з цим, але про результати цих спроб краще не
                        згадувати. Ні, наше магічне число — три, і ми не будемо від нього відходити.
                    </p>
                </div>

                <div class="blog-details">
                    <a (click)="forDetails1()" id="details1">Дізнатися більше</a>
                </div>
            </div>
        </div>
    </div>
</section>