@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.container-admin {
  width: 100%;
  min-height: 10vh;
  z-index: 10;
  padding: 75px 15px 15px 15px;
  background: #434343;
  @include flexbox(center, center, row, wrap);

  .admin-wrap {
    width: 95vw;
    min-height: 95vh;
    background: $textColor;
    border-radius: 10px;
    overflow: hidden;
    @include flexbox(space-around, flex-start, row, wrap);

    .container-fluid {
      width: 100%;
      margin-top: 20px;

      .box-flex {
        @include flexbox(flex-start, normal, row, wrap);

        &__category {
          width: 20%;
          height: 100%;
          position: relative;
          padding: 0 15px;

          .category-menu {
            @include flexbox(normal, normal, column, wrap);

            .menu--link {
              display: block;
              cursor: $linkCursor;
              text-decoration: none;
              padding: 1rem 1rem;
              border-radius: .25rem;
            }
          }
        }

        &__content {
          width: 80%;
          height: 100%;
          position: relative;
          padding: 0 15px;

          .tab-content {
            width: 100%;
          }
        }
      }
    }
  }
}

.text-mode {
  color: seagreen;

}

.dark-mode {
  background-color: seagreen;
  color: #fefefe;
}

.btn {
  margin-top: 10px;
  color: $textColor;
}
