<section class="home">
    <div class="home-slider">
        <div class="home-slider_id"></div>
    </div>
    <div class="container">
        <div class="home-title">
            <h1 class="home-title-head">Welcome <br> to JAMESON</h1>
        </div>
        <div class="blog">
            <div class="blog-info">
                <div class="blog-info__img img1"></div>
                <div class="blog-info__tag">
                    <span>Новини</span>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-content-title">
                    <h2>Що таке ірландське віскі?</h2>
                </div>
                <div class="blog-content-text">
                    <p>Ірландське віскі — це алкогольний напій, що виготовляється на острові Ірландія.</p>
                    Закон суворо визначає: щоб віскі вважалося ірландським, спирт повинен витримуватися на острові
                    Ірландія щонайменше три роки.
                </div>
                <div class="blog-details" [routerLink]="[ '/history' ]">Вивчайте більше</div>
            </div>
        </div>
        <div class="blog">
            <div class="blog-info">
                <div class="blog-info__img img2"></div>
                <div class="blog-info__tag">
                    <span>Віскі</span>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-content-title">
                    <h2>Jameson Black Barrel</h2>
                </div>
                <div class="blog-content-text">
                    <p>Потрійна дистиляція та подвійне випалення, що створюють насичений м'який смак.</p>
                </div>
                <div class="blog-details" [routerLink]="[ '/our-whiskeys/' + 'black-barrel' ]">Вивчайте більше</div>
            </div>
        </div>

        <div class="blog">
            <div class="blog-info">
                <div class="blog-info__img img3"></div>
                <div class="blog-info__tag">
                    <span>Коктейлі</span>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-content-title">
                    <h2>Jameson з імбиром і лаймом</h2>
                </div>
                <div class="blog-content-text">
                    <p>Цей літній коктейль стане ідеальним доповненням до теплого сонячного дня. Простий напій з віскі,
                        що чудово доповнить ваш день та неймовірно простий у приготуванні.</p>
                </div>
                <div class="blog-details" [routerLink]="[ '/our-drinks/' + 'jameson-ginger-and-lime' ]">Вивчайте більше</div>
            </div>
        </div>
    </div>
</section>